extends ../layout

block content
  h1= 'Create Blog'
  form(action="/blogs/create", method="post")
    legend

    div.form-group
      label(for="id") Id
      input.form-control(type="text",id="id",name="id",readonly)

    div.form-group
      label(for="title") Title
      input.form-control(type="text",id="title",name="title")
    
    div.form-group
      label(for="summary") Summary:
      textarea#content.form-control(name="summary", cols="30", rows="10",maxlength=200) 

    div.blog-editor
      label(for="content") Content:
      textarea(id="content",name="content",style="display:none;")
      .editor 

    div.form-group
      button.btn.btn-primary.mb-5.mt-5(type="submit") Create Blog

  script(type="text/javascript",src="/scripts/blog/create-edit.js")