extends layout

block content
    .blog-content
        h1 Blogs
        each blog in blogs
            div.mb-48
                a(href="/blogs/content/" + blog.id)
                    h4  #{blog.title}
                    p   #{blog.summary}