extends layout

block content
    .blog-content
        h1 Search Results
        each blog in blogs
            div.mb-48
                a(href="/blogs/content/" + blog.id)
                    h5          #{blog.title}
                    p.summary   #{blog.summary}